@media(max-width:1097px) { /*пишем правило на максимальную ширину экрана 1097px*/
 
 .container{
    width:100%;
}
}
@media(max-width:980px) { /*Под каждый размер экрана пишем определенные свойства*/
    .tours_about table {
        width:100%;
    }
    .tour_gallery a img {
        width: 30%;
    }
    .tours_about form {
        width: 100%;
    }
}
@media(min-width:768px) {
    input[type="checkbox"]{
    display:none;
    }
}
@media(max-width:768px) {
    .banner {
        height:250px;
    }
    .phone{
        justify-content:center;
        padding:0 15px;
}
    .content {
        flex-direction:column; /*Для того, что бы левое меню стало над правым в столбик, что бы на плагшете было удобно смотреть*/
}
    .content .left { /*Меняем местами снова правое с левым, что бы сверху было правое, снизу левое*/
        order: 2;
}
    .left  .blok_title:first-child { /*Убираем заголовок Навигация в меню*/
        display:none;
    }
   
    header label,
    .left label  {
        font-size: 30px;
        color: #fff;
        border: 1px solid;
        border-radius: 5px;
        cursor: pointer;
        padding: 0 7px 3px;
        position: absolute;
        z-index: 2;/*Переносим значек гамбургер на второй уровень, делаем ближе к экрану*/
        }
        
        label[for="top_toggle"]{
            left:10px;
            top:5px;
        }
        label[for="left_toggle"] {
            right:10px;
            top:5px;
            z-index: 30;
        }
       
        
        header input[type="checkbox"],
        .left input[type="checkbox"] { /*Убираем значек чекбокса с галочкой, оставляем только гамбургер*/
        display: none;
        }
    header nav {
        position: fixed;/*Фиксирую позицию верхнего горизонтального меню,при прогрутке сайта вверх вниз меню будет фиксировано*/
        z-index: 1;
        top: 0;
        width: 100vw;/*Вертикальная ширина касательно всего экрана*/
        height: 100vh;
        display: flex;
        align-items:center;
        margin-left: -100vw;
        }
        header #top_toggle:checked ~ nav {/*Пишем что если мы ставим галочку в чекбоксе, тоесть отмечаем его, то меню выкатывается обратно*/
            margin-left: 0;
        }  
    header nav ul {
        display: block;
        flex-basis:100%;
        }
    header nav ul li{
        margin: 25px 0;
        }
    header nav ul li a {
        font-size: 30px;
        display: block;
        padding: 20px 0;
        text-align: center;
        
    }
    .left nav {
        position: fixed;
        z-index: 10;
        top: 0;
        width: 100%;
        background: #E1E7E9;
        height: 100vh;
        display: flex;
        align-items:center;
        margin-top: -100vh;
    }
    #left_toggle:checked ~ nav {
        margin-top: 0;
    }
   .left_menu {
    flex-basis:100%;
    height: 80%;
    display: flex;
    flex-direction:column;
    border:none;
    }
    .left_menu li {
        flex-basis:100%;
    }
    .left_menu li a {
        padding: 0 10px;
        height:100%;
        background: #F3F8FA;
    }
   @media (max-width:600px) {
    .tours_block--itemwrap {
        flex-basis:49.5%;
    }
   
     @media (max-width:500px) {
     .banner .text {
        width: 90%;
        font-size:12px;
        line-height:16px;
        
     }
    .tours_block--itemwrap {
        flex-basis:100%;
    }
    .tours_block .img {
        height: 250px;
    }
    .search .icons {
        display: none;
    }
    .search form {
        width: 100%;
    }
    .search form input {
        width: 70%;
    }
    .search form button {
        width: 25%;
    }
    
   } 
